<div class="jumbotron">
	<h1>Welcome to Rick's Doughboys</h1>

	<img src="https://pbs.twimg.com/profile_images/444133090/dboys_logo-01.jpg" class="pizza_pic">

	<%= link_to "Check out our pizzas", pizzas_path, class: "btn btn-default" %>

	</div>