/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.donut_image {
	height: 40%;
	width: 40%;
}

.jumbotron {
	background-color: lightgrey;
  width: 600px;
  height: 700px;
  margin-left: 330px;
  margin-right: 250px;
  border-radius: 10px;
}

.container {
	background-color: lightgrey;
}


.btn-default {
	background-color: white;

  }

  .navbar-default {
  	background-color: black;
  	border-color: black;
  }



h1 {
	color: white;
  text-align: center;
   text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 

}

.image-responsive {
  height: 150px;
  width: 150px;
}

.thumbnail {
  height: 325px;
  width: 500px;
}

body {
  background-image: url(https://img1.etsystatic.com/034/0/5317124/il_340x270.627463419_7kn9.jpg)
}

img {
  height:350px;
  width:500px;
  border: solid lightblue;
  border-radius: 10px;
}


