<div>

	<center>
		<h1 class="welcome">Welcome to Deez Donuts!</h1>

		<img src="http://www.torontolife.com/wp-content/uploads/2013/06/jelly-modern-intro.jpg">
		<br>

		<%= link_to "Gaht Eeeeemmm!", donuts_path, class: "btn btn-default" %>
	</center>
</div>
